@charset "utf-8";
.all-nav-directive{
    position: fixed;
    top:0;
    height: 100%;
    z-index: 9;
    width: 100%;
    background: #1c2b36;
    font-size: 13px;
    padding-bottom: 40px;
    left:-100%;
    -webkit-transition:left 0.5s;
    transition:left 0.5s;
	width: 200px;
}
.all-nav-directive.show{
	left: 0px;
}
.directive-centent{
	height: 100%;
	overflow-y:auto; 
	padding-top: 5px;
}
.all-nav-directive li{
	overflow: hidden;
}

.all-nav-directive li a{
	padding-left:15px;
	display: block;
	height: 35px;
	line-height: 35px;
	font-weight: 600;
	color: #869fb1;
}
.all-nav-directive li li a{
	padding-left:15px;
}
.all-nav-directive li li li a{
	padding-left:40px;
}
.all-nav-directive li li li li a{
	padding-left:60px;
}
.all-nav-directive li.inline{
	width: auto;
	float: left;	
}
.all-nav-directive li.inline a{
	font-weight: normal;
}
.all-nav-directive a i.fa{
	margin-right: 5px;
}
.all-nav-directive > a{
	padding-left: 15px;
	background: #333;
	display: block;
	height: 35px;
	line-height: 35px;	
	cursor: pointer;
	color: #fff;
}

.all-nav-directive a:hover{
	text-decoration: none;
}
.all-nav-directive .line{
	background: #131e26;
	height: 2px;
	margin:10px 0 0 0;
}
.all-nav-directive > div > ul > li > a{
	font-weight: normal;
	color: #4d7c9f;
	line-height: 13px;
	padding:11px 0 0 15px;
	background: #253744;
}
.all-nav-directive > div > ul > li > a i.fa{
	float: right;
	margin-right: 10px;
}button{
    outline: none !important;
}
button .fa-spinner{
    display: none;
    margin-left:4px;
}
@-webkit-keyframes loadingCircle{
    0%{
        -webkit-transform-origin:50% 50%;
                transform-origin:50% 50%;
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg)}
    to{
        -webkit-transform-origin:50% 50%;
                transform-origin:50% 50%;
        -webkit-transform:rotate(1turn);
                transform:rotate(1turn)
    }
}
@keyframes loadingCircle{
    0%{
        -webkit-transform-origin:50% 50%;
                transform-origin:50% 50%;
        -webkit-transform:rotate(0deg);
                transform:rotate(0deg)}
    to{
        -webkit-transform-origin:50% 50%;
                transform-origin:50% 50%;
        -webkit-transform:rotate(1turn);
                transform:rotate(1turn)
    }
}
@-webkit-keyframes buttonEffect{
    to{
        opacity:0;
        top:-6px;
        left:-6px;
        bottom:-6px;
        right:-6px;
        border-width:6px
    }
}
@keyframes buttonEffect{
    to{
        opacity:0;
        top:-6px;
        left:-6px;
        bottom:-6px;
        right:-6px;
        border-width:6px
    }
}
.ant-btn-clicked:after{
    content:"";
    position:absolute;
    top:-1px;
    left:-1px;
    bottom:-1px;
    right:-1px;
    border-radius:inherit;
    border:0 solid #999;
    opacity:.5;
    -webkit-animation:buttonEffect .4s;
            animation:buttonEffect .4s;
    display:block
}
.ant-btn-clicked{
    position: relative;
}

.ant-btn-loading .fa-spinner {
    display: inline-block;
    -webkit-animation: loadingCircle 1s infinite linear;
            animation: loadingCircle 1s infinite linear;
}.change-pwd-dialog{
    color: #333;
    line-height: 1.42857143;
}
.change-pwd-dialog .modal-dialog{
    width: 450px;
}
.change-pwd-dialog .captcha{
    width: 115px;
    display: inline-block;
}
.change-pwd-dialog .btn-captcha{
    width: auto;
    float: right;
    height: 31px;
}.citysSelectMultipleDirective{

}
.citysSelectMultipleDirective h4{
	margin-top: 0;
	overflow: hidden;
	margin-bottom: 0px;
}
.citysSelectMultipleDirective .label-default{
	background: #eee;
	margin-right: 10px;
	color: #333;
	font-weight: normal;
	float: left;
	margin-bottom: 0;
	margin-top:2px;
	font-size: 14px;
	line-height: 22px;
}
.citysSelectMultipleDirective .link{
	font-weight: normal;
	color: #1b82b8;
	cursor: pointer;
}
#citysSelectmultipleDialog ul{
	overflow: hidden;
}
#citysSelectmultipleDialog ul li{
	float: left;
	width: 50%;
}
#citysSelectmultipleDialog ul li > div{
	border:1px solid #ddd;
	color: #333;
	text-align:left;
	border-radius:5px;
	margin:5px;
	display: block;
	padding:5px 10px 10px 10px;
	cursor: pointer;
}
#citysSelectmultipleDialog ul li > div:hover{
	background-color: #f5f5f5;
}
#citysSelectmultipleDialog .checkbox-inline{
	background: url(01c930e4837c9970f2f3b1f9b03751fe.png) -7px -2px no-repeat;
	padding-left:30px;
}
#citysSelectmultipleDialog .checkbox-inline input[type="checkbox"]{
	display: none;
}
#citysSelectmultipleDialog .checkbox-inline-checked{
	background: url(01c930e4837c9970f2f3b1f9b03751fe.png) -7px -38px no-repeat;
}
#citysSelectmultipleDialog .checkbox-disable{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABzElEQVQ4jaWVP4/aQBDF347xojXQXpDcYfFXfKykTpSPccUp3RXJZ3KHAQkkXCCSK0ACwWKfPZPiAhJxSDB50lY7+u28N9pdFUWRy8yf0jT9wMxN3CEi+q61/kpEXyrM/NEY89jr9UBE9/DAzI04jh+ttYIwDOdZlsn/KssyCcNwTsz8cG9nIgIROdkGMz8QALnTJsbj8Rl4OqNyDyzPc4xGIyRJAqXUxV5pr8yMyWQCIoLWurBfCigimM/nEBE4jgNr7e+WywHX6zX2+z0cx0GSJPB9v1BzNUMRucjn9fUVi8UCxhgcDgd0u13UarV/Zygi2Gw2mE6nZzsigsVigWq1CmstBoMB6vV6AVboME1TRFF0hlhr4XkerLXYbrcgIvT7fRhjrsZy0aHrumi321BKwXVdLJdLZFmG1WoFEUEQBPA87yqsAFRKoVarYTgcolKpwFqL2WyG3W4H3/fRaDT+CisAT3IcB51OB8YYHI9HGGPQbDb/mNlNQODtbgZBAK01Wq3WTTDgbShXK09DKCFFRPTCzNcrlLqpO2YGEb2Q1vo5jmPkeX5+jsquPM8RxzG01s/q1xfwOU3T98z8roy/k4joh9b6GxE9/QShmEIZQDuNcwAAAABJRU5ErkJggg==) 2px 7px no-repeat;
	padding-left: 30px;
	line-height: 34px;
}
@charset "utf-8";
#crumbs{
	overflow: hidden;
}
.breadcrumb{
	border-bottom: 1px solid #eee;
	height: 35px;
	line-height: 35px;
	padding:0 20px;
	background: none;
	background: #e1e6e8;
	margin: 0;
}
.breadcrumb i{
	color: #999;
}
.breadcrumb>li{
	padding-right: 10px;
	color: #777;
}
.breadcrumb>li:first-child{
	padding-right: 0;
}.form-radio{
    width: 100%;
    display: table;
}
.form-radio .cell{
    display: table-cell;
}
.form-radio .radio-list{
    display: inline-block;
    padding-right: 20px;
    width: auto;
}@charset "utf-8";
.pagination-box{
    margin:20px 0;
    overflow: hidden;
}
.pagination-box .total{

}
.pagination-box .pagination{
    float: left;
}
.pagination-box .pagination li{
    float: left;
}
.pagination-box .pagination li,
.pagination-box .pagination li a{
    height: 32px;
    overflow: hidden;
    padding-top:0;
    padding-bottom:0;
    line-height: 32px;
    text-align: center;
}
.pagination-box .pagination i{
    font-style: normal;
    font-size: 20px;
    line-height: normal;
}
.pagination-box .pagination{
    margin:0;
}
.pagination-box .pagination .defaultA a{
    cursor: default;
    color: #666;
}
.pagination-box .pagination .defaultA:hover{
    background: none;
}
.pagination-box .pagination .defaultA:hover a{
    color: #666;
    background: none;
}
.pagination-box .pagination>li>a, .pagination>li>span{
    float: none;
    display: block;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    color:#aaa;
}
.pagination-box .pagination-left{
    width: 170px;
}
.pagination-box .pagination-left .form-control{
    padding-left:5px;
}
.pagination-box .fr .pagination-left{
    width: 125px;
    margin-left: 10px;
}.version-upgrade-log-dialog{
    color: #333;
    line-height: 1.42857143;
}
.version-upgrade-log-dialog .modal-body{
    padding-top: 0;
    padding-left: 30px;
    max-height: 600px;
}
.version-upgrade-log-dialog .content-block{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-top: 20px;
}
.version-upgrade-log-dialog .header{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.version-upgrade-log-dialog .version{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}
.version-upgrade-log-dialog .description{
    max-height: 150px;
    overflow-y: auto;
}@charset "utf-8";
/*header*/
#header{
    background: #0099cb;
    height: 55px;
    line-height: 55px;
    font-size: 12px;
    border-bottom: 1px solid #1a7b9f;
    color: #fff;
    line-height: 55px;
}
.header-ctrl a{
    color: #e9faff;
}
.header-ctrl ul, .header-ctrl li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-ctrl .container{
    width: auto;
    padding:0;
}
.header-ctrl .logo{
    background: #0086ba;
    height: 55px;
    width: 180px;
    text-align: center;
}
.header-ctrl .logo img{
    width: 122px;
    height: 37px;
    margin-left: -10px;
    margin-bottom: 3px;
}
.header-ctrl .logo a{
    font-size: 18px;
    font-weight: bold;    
}
.header-ctrl a:hover{
    text-decoration: none;
}
.header-ctrl .hide-menue.active{
    background-color: #2e9ad1;
}
.header-ctrl .nav-menu{
    float: left;
}
.header-ctrl .nav-menu a{
    display: block;
    padding:0 18px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.header-ctrl .nav-menu li{
    float: left;
}
.header-ctrl .nav-menu a:hover{
    color: #fff;
}
.header-ctrl .nav-menu a span{
    display: none;
}
.header-ctrl .nav-menu a.active{
    position: relative;
}
.header-ctrl .nav-menu a.active span{
    position: absolute;
    top:38px;
    left: 50%;
    display: block;
    margin-left:-4px;
    color: #33ccff;
}
.header-ctrl .login-status{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 0;
}
.header-ctrl .login-status li{
    padding:0 15px;
    border-left:1px solid #0991be;
    display: inline-block;
}
.header-ctrl .login-status li a{
    display: block;
}
.header-ctrl .menu-bar{
    padding:0 10px;
    border:1px solid #00a7de;
    color: #96e5ff;
    font-weight: normal;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin:12px 0 0 5px;
    border-radius: 3px;
}
.header-ctrl .dropdown-menu{
    border:1px solid #0094c6;
    top:54px;
}
.header-ctrl .dropdown-menu li a{
    color:#555;
    font-size: 13px;
}
.header-ctrl .dropdown-menu{
    background: #0086ba;
    border-radius: 0;
    height: auto;
    line-height: 25px;
    border:none;
    min-width: 100px;
    padding-bottom: 5px;
}
.header-ctrl .dropdown-menu li{
    display: block;
    padding:0;
    margin: 0;
    border:none;
}
.header-ctrl .dropdown-menu li a{
    color:#e9faff;
    line-height: 25px;
}
.header-ctrl .dropdown-menu li a:hover{
    background: none;
    color: #fff;
}
.header-ctrl .login-status li.open{
    background: #0086ba;
}

.header-ctrl .login-status .login-status-md{
    display: none;
}
.header-ctrl .angle-double-right{
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-ctrl .fa-angle-double-right{
    width: 20px;
    line-height: 55px;
}
.header-ctrl .angle-double-right.open{
    background-color: #0086ba;
}
.header-ctrl .hide-menu{
    position: absolute;
    background: #0086ba;
    border-radius: 0;
    height: auto;
    line-height: 25px;
    border: none;
    min-width: 100px;
    padding-bottom: 5px;
    top: 54px;
    left: 0;
    z-index: 1000;
    font-size: 14px;
    text-align: left;
}
.header-ctrl .hide-menu li{
    display: block;
    padding: 0;
    margin: 0;
    border: none;
}
.header-ctrl .hide-menu li a{
    color: #e9faff;
    line-height: 25px;
    white-space: nowrap;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
}
@media (max-width:1279px) {
    .header-ctrl .login-status .login-status-lg{
        display: none;
    }
    .header-ctrl .login-status .login-status-md{
        display: inline-block;
    }
}.imgUrlBox{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*background: rgba(0,0,0,.8);*/
    z-index: 99999;
    text-align: center;
    display: none;
    -webkit-transition: .2s;
    transition: .2s;
}
/*.imgUrlBox img{
    position: absolute;
}*/
.imgUrlBox .imgShowClosBtn{
    display: block;
    width:28px;
    height:28px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAAAXNSR0IArs4c6QAAABtQTFRFAAAA////////////////////////////////600+wgAAAAh0Uk5TABg3OEuD+fpciH9JAAAAcUlEQVQY02MQVWCAA+ZAhogUBNetlcGszQHGY8lIAmK4tBtIxg0mDZGAS0PFoRRMGErDNYEZCCPBLDeEhUAmkn0gaSRJoHR7BZJbGVgq2h1wc1EVoxmFahGaM1AdieYFVA+ieR81cNCCDi1g0YIdNVIAiY4vBT3M/twAAAAASUVORK5CYII=) no-repeat 0 0;
    position: fixed;
    top:30px;
    right:30px;
}
.minImg{
    width:100%;
}
.minImgDiv{
    width:100%;
    height:100%;
}
.minImgDiv,
.minImg {
    cursor:pointer;
}
#imgUrlBoxBG{
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}.kaImageUploadDirective{
	overflow: hidden;
	padding:0 0 10px 0;
}
.kaImageUploadDirective ul li{
	width: 100px;
	height: 100px;
	overflow: hidden;
	float: left;
	text-align: center;
	line-height: 88px;
	margin-right: 20px;
	margin-top:5px;
	position: relative;
	border-radius: 4px;
	padding:  5px;
	border: 1px solid #ddd;
}
.kaImageUploadDirective ul li .form-opera{
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 88px;
	height: 88px;
	display: none;
}
.kaImageUploadDirective ul li .form-opera .img-show{
	display: none;
}
.kaImageUploadDirective ul li:hover .form-opera,.kaImageUploadDirective ul li .img-show:hover .form-opera{
	display: block;
}
/*附件下载*/
.kaImageUploadDirective ul li .form-file{
	line-height: 30px;
}
.kaImageUploadDirective ul li .form-file img{
	width: 50px;
	height: 50px;
	margin: 10px 15px 0px 15px;
}
.kaImageUploadDirective ul li.btnLoading:hover .form-opera{
	display: none;
}
.kaImageUploadDirective ul li img{
	max-width: 100%;
	max-height: 100%;
}
.kaImageUploadDirective ul li.btnAddIcon{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAALlJREFUSA1jZCABzJo1q/nv3781zMzMLWlpabXEamUiViFIHdCCv8g0sXpJsoRYQ9HVjVqCHiJ4+aPBhTd40CWHT3AxQosKcE5G9yY6n5GR0eX////WQPookN6DLo+NDyyCmFlAZRE2SWxiQIPBwiCLgAwQJghAJRELqLCDlUmEdJDrE0ZCBiPLT58+vQHIrwfixszMTBCbKDB8UteoT4iKcJii0eCChQRR9OALLlBhB3I6jCbKG0BFALsTPOztWqA9AAAAAElFTkSuQmCC) center 30px no-repeat;
	background-size: 25px 25px;
	border: 1px dashed #ddd;
	padding-top: 30px;
	cursor: pointer;
}
.kaImageUploadDirective ul li.btnAddIcon:hover{
	border: 1px dashed #62B9E1;
	color: #62B9E1;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAGdJREFUSA3tlMENgDAMA23EViDBaLAFbAOb0EkC3SDOF/eTzyVRT5EB4c1n26bjiV6FNgwKXGW9RDJnXdYlGZBgahERawQWEjfAK7uJPYuycJUbSe755tpP8vM/0ins7JIOxrp+qusF6WId15Yu/VYAAAAASUVORK5CYII=) center 30px no-repeat;
}
.kaImageUploadDirective ul li.btnAddIcon input[type='file']{
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0px;
}
.kaImageUploadDirective .btnLoading{
	z-index: 3px;
	background: url(beabb3067d19697611aa41f68e82576c.gif) center no-repeat;
}
.kaImageUploadDirective input[type="button"]{
	cursor: pointer;
}@charset "utf-8";
/*mainNav*/
.navbar{
	background: #1c2b36;
	font-size: 12px;
	border-radius: 0px;
	height: 100%;
	width: 210px;
	overflow-y:auto;
	position: relative;
	z-index: 1;
}
.navbar .navbar-content{
	width: 180px;
	padding-bottom:70px;
}
.navbar,
.navbar a{
	color: #869fb1;
}
.navbar span{
	
}
.navbar .titleA span{
	display: block;
	font-size: 12px;
	padding:10px 15px 5px 15px;
	color: #85a5bd;
	background: #233441;
}

.navbar li a{
	font-weight: 600;
	padding:14px 20px 14px 15px;
}
.navbar li a i{
	margin-right: 5px;
}
.navbar li a:link,
.navbar li a:active{
	background: none;
	color: #869fb1;
}

.navbar .line{
	background: #131e26;
	height: 2px;
	margin:0;
}
.navbar li.active{
	background: #131e26;
}
.navbar li.active ul{
	padding-bottom: 10px;
}
.hover .navbar li.active li a,
.navbar li.active li a,
.navbar li li a{
	padding:10px 20px 10px 35px;
}
.navbar li a:hover{
	background: #16232c;
	color: #fff;
}
.navbar li.activeB > a{
	color: #fff;
}
.navbar li.activeC > a{
	color: #fff;
}
.navbar li li a:hover,
.navbar li li.active a:hover,
.navbar li li.active > a{
	color: #fff;
	background: none;
}

.navbar .arrow{
	float: right;
	margin-top: 2px;
}
.navbar .arrow:before{
	content: "\F104";
}
.navbar .active .arrow:before {
    content: "\F107";    
}
.navbar .chevron{
	float: right;
	margin-top: 2px;
}
.navbar .chevron:before {
    content: "\F107";    
}
.navbar .chevron.chevron-left:before{
	content: "\F104";
}
.navbar ul:last-child .line{
	display: none;
}
.navbar .nav-third-level .J_menuItem{
	padding-left: 55px;
}
.hover .navbar li.active .nav-third-level li a{
	padding-left: 55px;
}
.navbar li.active ul.nav-third-level{
	padding-bottom: 0;
}
.navbar .header-lock{
	display: none;
}
.navbar .menu-side-lock{
	display: none;
}
@media (max-width:1279px) {
	.navbar li.active li a,
	.navbar li li a,
	.navbar li a{
		color: #869fb1;
		padding:10px 10px 10px 10px;
	}
	.navbar li a span{
		display: none;
	}
	.navbar .titleA span{
		display: none;
	}
	.navbar .collapse.in{
		display: none;
	}
	.hover .navbar li a span{
		display: inline-block;
	}
	.hover .navbar .titleA span{
		display: block;
	}	
	.hover .collapse.in{
		display: block;
	}
	.hover .navbar li.active li a,
	.hover .navbar li li a{
		color: #869fb1;
		padding:10px 20px 10px 35px;
	}
	.hover .navbar li li a:hover, 
	.hover .navbar li li.active a:hover, 
	.hover .navbar li li.active a{
		color: #fff;
	}
	.hover .navbar li a{
		padding:14px 20px 14px 15px;
	}
	.hover .navbar-hover{
		position: fixed;
		width: 100%;
		height: 100%;
		margin-left: 200px;
	}

	.navbar .menu-side-lock{
		display: none;
		position: fixed;
		width: 32px;
		height: 60px;
		top: 45%;
		background-color: rgba(28, 43, 55, 0.8);
		color: #c8ccce;
		left: 180px;
		padding-left: 5px;
		padding-top: 17px;
		font-size: 18px;
		border-radius: 0 30px 30px 0;
		cursor: pointer;
	}
	.navbar .display-me{
		display: block;
	}
	.navbar .content-padding-lock{
		padding-top: 18px;
	}
	.navbar .header-lock{
		display: block;
		position: fixed;
		text-align: center;
		height: 18px;
		width: 179px;
		color: #fff;
		background-color: #121e27;
		z-index: 1;
	}
}
.multiselectDirective{
    position: relative;
}
.multiselectDirective .form-control{
    padding-top:0;
    padding-bottom: 0;
    height: auto;
    position: relative;
    min-height: 30px;
    padding-right: 30px;
}
.multiselectDirective .form-control input{
    width: 10px;
    border: 1px solid #fff;
    background: #fff;
}
.multiselectDirective .placeholder{
    color: #aaa;
    font-size: 12px;
    line-height: 30px;
}
.multiselectDirective .form-control > i{
    position: absolute;
    top: 7px;
    right: 10px;
}
.multiselectDirective .form-control span{
    cursor: default;
}
.multiselectDirective .form-control span i{
    height: 22px;
    line-height: 22px;
    padding-left:5px;
    cursor: pointer;
    color: #aaa;
}
.multiselectDirective .form-control span i:hover{
    color: #666;
}
.multiselectDirective .form-control .label{
    background: #eee;
    color: #555;
    font-weight: normal;
    margin:3px 10px 3px 0;
    display: inline-block;
    padding:0 5px;
    line-height: 12px;
    font-size: 12px;
}
.multiselectDirective .dropdown-menu{
    width: 100%;
}
.multiselectDirective .dropdown-menu i{
    font-size: 18px;
    color: #ddd;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
    margin-top: 1px;
}
.multiselectDirective .dropdown-menu i.fa-check-square-o{
    color: #66c7b0;
    margin-right: 7px;
}
.multiselectDirective .dropdown-menu a{
    padding-left:10px;
    padding-right:10px;
    font-size: 12px;
    line-height: 18px;
}
.multiselectDirective.open .form-control > i{
    -webkit-transform:rotate(180deg);
            transform:rotate(180deg);
}@charset "utf-8";
search-dropdown{
    width: 100%;
}
.search-dropdown{
    display: inline-block;
    width: 100%;
    position: relative;
}
.search-dropdown .form-select{
    width: 100%;
    padding-bottom: 8px;
    padding-right: 25px;
    min-width: 150px;
    cursor: pointer;
}
.search-dropdown .dropdown-inline{
    display: inline-block;
    width: calc(100% - 45px);
}
.search-dropdown .error-inline{
    display: inline-block;
}
.search-dropdown .dropdown .caret{
    position: absolute;
    margin-top: -18px;
    right: 12px;
}
.search-dropdown .dropdown-menu{
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.search-dropdown .search-form-input{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    line-height: 30px;
    border: 1px solid rgba(204,204,204,0.6);
    border-radius: 0;
    padding-left: 28px !important;
    margin-top: 5px;
    margin-bottom: 10px;
}
.search-dropdown .fa-search{
    position: absolute;
    margin-left: 18px;
    margin-top: 14px;
    opacity: 0.4;
}
.search-dropdown .menu-item{
    border-top: 1px solid rgba(204,204,204,0.4);
    line-height: 34px;
    height: 34px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.search-dropdown .menu-item:hover{
    background-color: #f5f5f5;
}
.search-dropdown .item-list{
    height: 150px;
    overflow-y: auto;
}
.search-dropdown .item-list>li>a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}/*星星*/
.star-box{
	display: inline-block;
	-webkit-transform: translateY(4px);
	        transform: translateY(4px);
}
.star-box .star{
	background: url(48d23c15ade8d86eeb8917d0659d6d0b.png) no-repeat center;
	width: 16px;
    height: 16px;
    margin-right: 2px;
    display: inline-block;
    background-size: cover;
}
.star-box .star.star-half{
	background: url(65dd50ff5834d79e8c3a9aea2c6a1bd2.png) no-repeat center;
	background-size: cover;
}
.star-box .star.star-full{
	background: url(e403a7da2321481064c0566eedb28780.png) no-repeat center;
	background-size: cover;
}.steps-box-x {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.steps-box-x li{
    -webkit-box-flex:1;
        -ms-flex-positive:1;
            flex-grow:1;
    background: #f5f5f5;
    display: block;
    position: relative;
    text-align: center;
}
.steps-box-x li i.steps-box-dot{
    display: inline-block;
    position: absolute;
    left:50%;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #eee;
    text-align: center;
}.tooltip{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.84);
  padding: 7px 10px;
  max-width: 250px;
  color: #fff;
  border-radius: 3px;
  opacity: 1;
}

.tooltip-show{
  display: inherit;
}

.tooltip-arrow{
    position: absolute;
    width: 0;
    height: 0; 
}

.tooltip-down .tooltip-arrow{
    top: -6px;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid rgba(0,0,0,0.84);
}

.tooltip-up .tooltip-arrow{
    bottom: -6px;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(0,0,0,0.84);
}

.tooltip-right .tooltip-arrow{
    left: -6px;
    top: 50%;
    margin-top: -3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3px solid rgba(0,0,0,0.84);
}

.tooltip-left .tooltip-arrow{
    right: -6px;
    top: 50%;
    margin-top: -3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid rgba(0,0,0,0.84);
}.tree-view {
    height: auto;
    padding: 10px;
    bottom: 10px;
    position: relative;
    top: 0;
    color:#999;
}
.tree-view span:hover {
	color: #666;
}
.tree-view span.active {
	color: #5BB1EE;
}
.tree-view .node{
	cursor: pointer;
}
.tree-view li{
	padding-top: 9px;
}
/*# sourceMappingURL=app.css.map*/